

.hours {
  line-height: 0;
}
  
p {
  font-size: 16px;
}

  .weather-image {
    float: left;
    margin: 0px 30px;
    font-size: 150px;
    color: #f9a725;
  }
  
  .daily-weather-info {
    margin-left: 30px;
  }
  
  .temperature {
  font-size: 100px;
  margin-right: 0;
  }
  
 p .units {
   font-size: 20px;
   position: relative;
   top:-58px;
   margin-left: 0px;
 }