.search-form {
    margin-bottom: 10px;
  }

.search-icon {
    font-size: 24px;
  }

  button {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 23px;
    padding: 0px 5px;
    margin: 0px 10px;
  }
  button:hover {
    font-size: 25px;
  }
  
  button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #142850;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #142850 transparent transparent transparent;
  }
  
  button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: 14px;
  }
  