body {
  font-family: 'Roboto', sans-serif;
  }
  
  .next-days-weather {
    text-align: center;
  }
  

  .next-days-weather .icon {
    max-width: 100%;
    font-size: 40px;
    line-height: 1,5;
    color: #f9a725;
  }