body {
    font-family: "Nunito", sans-serif;
  }
  

  .next-days-weather {
    text-align: center;
  }
  
  .units .active {
    color: black;
    cursor: default;
  }
  
  .units .active:hover {
    text-decoration: none;
  }
  
 